Testinac aklsdjlkasj
<div class="app-comp">

  <div class="input-cont">
    <label for="user-name">Enter github username:</label>
    <input id="user-name"  type="text" placeholder="aditya"  value="johnpapa" #inputCont/>
  </div>

  <button type="button" class="btn btn-primary" (click)="submit(inputCont)">
    submit
  </button>


  <div class="error-text" *ngIf="!userInfo && errorText">
    {{ errorText }}
  </div>

  <div class="content-div" *ngIf="userInfo || repoLists || showSkeleton">

    <div class="user-info-cont" >

      <app-user-details
        [userDetails]="userInfo"
        [showSkeleton]="showSkeleton">
      </app-user-details>
    </div>
    

    <div class="repo-listing-cont">

      <div class="error-text" *ngIf="errorText">
        {{ errorText}}

        <button type="button" class="btn btn-primary" (click)="onPageNumberChange(currentPage)">
          Retry
        </button>
      </div>

      <app-repo-list *ngIf="!errorText"
        [repoList]="repoLists"
        [showSkeleton]="showSkeleton">
      </app-repo-list>
      
    </div>

    <div class="pagination-cont" *ngIf="totalRepos">
      <ngb-pagination 
        [collectionSize]="totalRepos" 
        [page]="currentPage"
        (pageChange)="onPageNumberChange($event)">
      </ngb-pagination>

      <div class="older-newer-cont">

        <button [style.color]="direction === 'asc' ? '#007bff' : 'black'" 
          (click)="onPageNumberChange(currentPage, 'asc')">
          <mat-icon>arrow_back</mat-icon>
          Older
        </button>

        <button [style.color]="direction === 'desc' ? '#007bff' : 'black'"
          (click)="onPageNumberChange(currentPage, 'desc')">
          Newer
          <mat-icon>arrow_forward</mat-icon>
        </button>


      </div>

    </div>
  
  </div>

</div>